#navlist
{
padding: 8px;
margin-top: 5;
list-style-type: none;
float: right;
width: 100%;
color: #888888;
background-color: #D3D3D3;
}
#navlist li { display: inline; }
#navlist li a
{
float: left;
width: 5em;
color: #888888;
background-color: #D3D3D3;
padding: 0.2em 1em;
text-decoration: none;
}
#navlist li a:hover
{
background-color: #547876;color: #fff;
}
#heading{
	text-align:center;
	color: #547876;
	opacity: 85%;
}
#icon
{   text-align:center;
	}
#main{
	 text-align:center;
	 color: #C0C0C0;
	}
#table
{   text-align:center;
    color: #C0C0C0;
	border-collapse: collapse;
	width: 100%
	}
th,td{
	padding:8px;
	text-align:left;
	border-bottom:1px solid #F8F8F8FF
}
tr:hover {
	background-color:#f5f5f5;
}
#contact
{
	text-align:left;
	 color: #C0C0C0;
}
p:hover,a:hover
{
	background-color:#F8F8FF;
}
input[type=text]{
	width:50%
	
}
input[type=text]{
	border:none;
	padding:px 20px;
	margin:4px 2 px;
	border-bottom: 2px solid grey;

}
input[type=text]:focus{
	background-color:#547876;
	color: white;
	outline: none;
	text-align:center;
}
input[type=submit]{
	background-color:#547876;
	border:none;
	color:white;
	padding:16px 32px;
	margin:2px 2 px;
	cursor: pointer;
}
.footer{
	text-align: center;
	position: fixed;
	left:0;
	bottom:0;
	width:100%
	
	
}
.footer{
	background-color: white;
	opacity: 40%;
	color: #547876;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: ;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #547876;;
}

.container:hover .overlay {
  opacity: 5;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}